:root {
    --cor-principal: #6136BF;
    --cor-secundaria: #886FBF;
    --cor-conteudo: #3A2073;
    --cor-roxo-claro: #62508A;
    --cor-h2: #721D80 ;
    --cor-escura: #201240;
    --cor-escura2:#1A0E33;
    --cor-escura3:#1D2026;
    --cor-cinza-claro:#BABCBF;
    --cor-cinza-medio:#87898C;
    --cor-cinza-escuro:#303740;
    --cor-claro: #D0D7D9;
    --cor-claro2: #C7CFD9;
    --cor-claro3: #D5E5F2;
}
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

/*--- font-family: 'Libre Baskerville', serif; -----*/

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

/*-----font-family: 'Libre Baskerville', serif;-----*/



/*----- font-family: 'Tiro Tamil', serif;   #721D80       ------*/

body {

    background: rgb(23,13,43);
background: linear-gradient(90deg, rgba(23,13,43,1) 0%, rgba(33,17,66,1) 25%, rgba(63,34,125,1) 44%, rgba(81,44,159,1) 61%, rgba(97,54,191,1) 82%);

  /*
    background: -webkit-linear-gradient(left, #000000, #6136bf);
    background: -moz-linear-gradient(left, #000000, #6136bf);
    background: -ms-linear-gradient(left, #000000, #6136bf);
    background: -o-linear-gradient(left, #000000, #6136bf);
    background: linear-gradient(to right, #000000, #6136bf);  */

    /*
    background: linear-gradient(60deg, rgb(0, 0, 0), #6136bf); */
                font-family: helvetica,Arial,sans-serif;
  
}

* {
    margin: 0px;
    padding: 0px;
    color: white;
}

a {
    text-decoration: none;
    color: #fff;

}




html, body, #home {
     overflow-x: hidden;
}


ul {
    list-style: none;
}


/* Barra de navegação 
------------------------*/

.logo {
   color: var(--cor-secundaria);
   font-size: 1.5em;
   margin-left: 0.9em;
   position: absolute;
   bottom: 1.5em;
}


.logo-name {
    font-size: 0.8em;
    font-weight: 700;
    letter-spacing: -.05em;
    color: rgba(255, 255, 255, 0.76);
    text-shadow: #fff 0 0, var(--cor-principal) 0 0;
    transition: text-shadow 200ms;
    position: absolute;
    bottom: 1.5em;
    
}

.logo-name:hover {
    text-shadow:  var(--cor-principal) 6px 0;

}

.logo-portfolio {
    font-size: 0.6em;
    font-weight: 200;
    margin-left: 1em;
    letter-spacing: 0.2em;
    color: var(--cor-h2);
    position: absolute;
    bottom: 0.5em;
    
    
}

nav.navbar-transparente {
    padding: 15px 0px;
    background: rgba(0,0,0,0.6);
}

a {
    position: relative;
    color: #fff;
    text-decoration: none;  
  }
  
  .nav-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--cor-roxo-claro);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .nav-link:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    
  }

.navbar-light .navbar-nav .nav-link {
    color: var(--cor-claro2);
    
   
}

.navbar-light .navbar-nav .nav-link:hover {
    color: white;
   
}



.navbar-light .navbar-toggler {
    color: rgba(255,255,255,0.5);
    border-color: rgba(255,255,255,0.5);
        
    
}


.icon-color {
   color: var( --cor-secundaria);
   padding-right: 1em;
   font-size: 1.2em;
}



.btn-login { 
    text-transform: uppercase;
    color: var(--cor-claro2);
    background: none;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    margin-top: 0px;
    margin-left: 3em;
    margin-right: 1em;
    border:none;

}

.btn-login:hover {
    border: none;
    text-transform: uppercase;
    color: white;
    
}

#home {
    margin-bottom: 10%;
    
}

.btn-cadastrar {
    text-transform: uppercase;
    border: 1px solid var(--cor-secundaria);
    border-radius: 5px;
    color: var(--cor-claro2);
    background: none;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    padding: 1em;
    text-align: center;
    
       
}

.btn-cadastrar:hover {
    border: 1px solid var(--cor-secundaria);
    color: #fff;
    background: var(--cor-secundaria);

}

/* --- Textos --- */
/*
h1 {
    font-size: 3.3em;
    font-family: Roboto,sans-serif;
    font-weight: 700;
    color: var(--cor-claro2);
    
    
}
*/
h2 {
    font-family: Roboto,sans-serif;
    color: var(--cor-h2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.89);
    font-size: 2.3em;
}


h3 {
    font-size: 1em;
    color: var(--cor-claro3);
    font-family: Roboto,sans-serif;
}

.btn-cv {
    color: white;
    background-color: var(--cor-principal);
}

.btn-cv:hover {
    color: white;
    background-color: var(--cor-secundaria);
    border-color: var(--cor-secundaria);
}

/*------ capa -------*/

.alinhando-pc {
    display: block;
}

:root {
    --offset: 6px;
  }
  
  
  h1 {
    width: 100%;
    font-size: 5.5em;
    font-family: Helvetica;
    line-height: 1.06;
    letter-spacing: -0.02em;
    color: #ffffff;
  }
  
  .mask {
    height: 250px;
    position: relative;
    overflow: hidden;
    margin-top: var(--offset);
    margin-bottom: 200px;
  }
  
  .mask span {
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 52px;
    padding-bottom: var(--offset);
    font-size: 50px;
    background-size: 100% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
  }
  
  .mask span[data-show] {
    transform: translateY(-100%);
    transition: 0.5s transform ease-in-out;
  }
  
  .mask span[data-up] {
    transform: translateY(-200%);
    transition: 0.5s transform ease-in-out;
  }
  
  .mask span:nth-child(1) {
    background-image: linear-gradient(45deg, #0ecffe 50%, #07a6f1);
  }
  
  .mask span:nth-child(2) {
    background-image: linear-gradient(45deg, #18e198 50%, #0ec15d);
  }
  
  .mask span:nth-child(3) {
    background-image: linear-gradient(45deg, #8a7cfb 50%, #633e9c);
  }
  
  .mask span:nth-child(4) {
    background-image: linear-gradient(45deg, #fa7671 50%, #f45f7f);
  }

.img-pc{
    margin-top: 8em;
}
/* Apresentação --*/

#apresentacao {

   background-color: #131313;  
   
}


.custom-container {
    background:#131313;
    height: 200px;
}

.style_line {
    
    background:#131313;
    border-bottom: 1px solid var(--cor-principal);
    margin-left:  20%;
    margin-right: 20%;
    height: 200px;
    
}

.custom-container2 {
    background:#131313;
    height: 100px;
    
}

.style_line2 {
    background:#131313;
    border-top: 1px solid var(--cor-principal);
    height: 100px;
    margin-left:  20%;
    margin-right: 20%;
}


.titulo {
    text-align: center;
    padding-top: 70px;
    font-family: Roboto,sans-serif;
    font-weight: 700;
    
}


/*--- Texto ---*/

.p-perfil {
    font-style: italic;
    width: 50%;
    color: var(--cor-claro2);
    font-size: 1.5em;
    font-weight: 100;
    margin-left: 4em;
}

.texto-perfil {
    color: var(--cor-secundaria);
}

.linguagens {
    color: var(--cor-claro3);
}

/*--- Habulidades -----*/

#Skills {
    background-color: #131313;
    
}


.p-lista {
    font-style: italic;
    width: 70%;
    color: var(--cor-claro2);
    font-size: 1.5em;
    font-weight: 100;
    margin-left: 7em;
    padding: 15px 0px;
}


.icon-lista {
    color: var(--cor-principal);
    font-size: 1.5em;
    margin-left: -2.2em;
    padding-right: 1em;
} 



.container-Skills {
    padding-top: 10em;
    padding-bottom: 10em;
    margin-left: auto;
    margin-right: auto;
}

.img-Skills {
    padding-top: 5em;
}

/*----- Projetos ----*/

.titulo-projeto {

    font-size: 3.3em;
    font-family: Roboto,sans-serif;
    font-weight: 700;
    color: var(--cor-claro2);
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.89);

}

#Projetos {

   /*
    background-color: #1d2026;
    background-image: 
        radial-gradient(at 50% 40%, hsl(258.83, 56.00000000000001%, 48%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(220.00, 13%, 13%) 0, transparent 55%); */
}

.text-center {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}


.estilo-bloco {
    backdrop-filter: blur(25px) saturate(90%);
    -webkit-backdrop-filter: blur(25px) saturate(90%);
    background-color: rgba(17, 25, 40, 0.41);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    margin-bottom: 5em;
    
}

.titulo-card {
    margin: 0px 1.4em;
    
}


.estilo-bloco h2 {
    color: var(--cor-claro3);
    font-size: 1.2em;
    padding-top: 2em;
    padding-bottom: 2em;
    font-family: Roboto,sans-serif;
    font-weight: 500;
    border-bottom: 1px solid rgba(255, 255, 255, 0.226);
    
    
}

.container-tec{
    margin: 0 3em;
    padding-top: 2em;
}

.linguagens {
    font-size: 2em;
    
}

.linguagens-color {
    color: var(--cor-claro);
}

.estilo-bloco h3 {
    color: rgba(255, 255, 255, 0.726);
    text-align: center;
    font-size: 0.8em;
    color: var(--cor-claro3);
    font-family: Roboto, sans-serif;
    
}

.btn-custom {
    color: var(--cor-claro3);
    background-color: var(--cor-principal);
    padding: 0.5em 5em;
    border-radius: 1%;
    
}

.btn-custom:hover {
    background-color: var(--cor-secundaria);
    border-color: var(--cor-secundaria);
    
}

/* --- Projetos IMG --- */

#Projetos-img {
    backdrop-filter: blur(25px) saturate(90%);
    -webkit-backdrop-filter: blur(25px) saturate(90%);
    background-color: rgba(17, 25, 40, 0.41);
    border: 1px solid rgba(255, 255, 255, 0.125);
    margin-bottom: 5em;
}

.img-projetos {
    width: 100%;
    
}

/*---- Footer ---- */

#rodape {
    background-color:  #131313;
}

.container-rodape {
    padding: 4em 0em 1em;
}

.social-footer {
    font-size: 2.2em;
    padding: 0em 0.2em 1em;
}

.copy {
    color: var(--cor-claro);
    font-size: 0.8em;
}







@media (min-width: 280px) and (max-width: 319.98px) {

    /*- Menu Navegação --*/
    .navbar-brand {
        margin-left: 1em;
    }

    .navbar-toggler {
        margin-right:  1em;
    }


    .nav-link {
        text-align: center;
        text-transform: uppercase;
        
        
    }

    .navbar-nav {
        padding-bottom: 20px;
    }


    .btn-cadastrar {
        font-size: 0.7em;
        
    }

    .form-inline {
        margin-left: 1em;
    }

    /*---Capa ---*/


 .alinhando-pc {
     text-align: center;

 }

 h3 {
     font-size: 0.7em;
 }

 .btn-cv {
     font-size: 0.7em;
 }

 .img-pc {
     margin-top: 0em;
     padding-bottom: 0em;
 }
 
  
  h1 {
    text-align: left;
    width: 100%;
    font-size: 2.5em;
  }
  
  .mask {
    padding-top: 5em;
    height: 200px;
    margin-bottom: 1em;
  }
  
  .mask span {
    top: 35px;
    font-size: 26px;
    width: 100%;
    text-align: left;
  }

   


 /*----- Apresentação -----*/

 .titulo {
    font-weight: 700;
    font-size: 2.2em;  
}

.img-perfil {
    max-width: 700px;
    right: 75%;
    
}

.p-perfil {
    width: 100%;
    font-size: 1.1em;
  
    margin-left: 0em;
    text-align: center;
    padding-bottom: 2em;
}

/*--- Habulidades -----*/

.container-Skills {
   padding-top: 5em;
}



.p-lista {
    text-align: left;
    width: 100%;
    font-size: 1.1em;
    margin-left: 0em;
    
}

.icon-lista {
    font-size: 1.2em;
   
}



.img-Skills {
    padding-top: 1em;
}

/*----- Projetos ---*/

.linguagens {
    display: none;
    
}

.btn-custom {
    padding: 0.5em 3em;
    border-radius: 2%;
    
}


/*-- Footer --*/

.container-rodape {
    padding: 0em;
}

.social-footer {
    font-size: 1.3em;
}

.endereco-footer {
    font-size: 0.8em;
}

.cep {
    font-size: 0.8em;
}

.copy {
    font-size: 0.7em;
}

}

@media (min-width: 320px) and (max-width: 359.98px) {

    /*- Menu Navegação --*/
    .navbar-brand {
        margin-left: 1em;
    }

    .navbar-toggler {
        margin-right:  1em;
    }


    .nav-link {
        text-align: center;
        text-transform: uppercase;
        
        
    }

    .navbar-nav {
        padding-bottom: 20px;
    }


    .btn-cadastrar {
        font-size: 0.7em;
        
    }

    .form-inline {
        margin-left: 3em;
    }

     /*---Capa ---*/



 .alinhando-pc {
     text-align: center;

 }

 h3 {
     font-size: 0.9em;
 }

 .btn-cv {
     font-size: 0.9em;
 }

 .img-pc {
     margin-top: 0em;
     padding-bottom: 0em;
 }
 
  
 h1 {
       
    padding-left: 0.5em;
    font-size: 2.5em;
}

.mask {
    padding-top: 2em;
    height: 160px;
    margin-bottom: 1em;
   
}

.mask span {
    top: 40px;
    font-size: 27px;
    width: 150%;
    text-align: left;
}


     /*----- Apresentação -----*/

     .titulo {
        font-weight: 700;
        font-size: 2.2em;  
    }

    .img-perfil {
        max-width: 700px;
        right: 70%;
        
    }

    .p-perfil {
        width: 100%;
        font-size: 1.1em;
        font-weight: 100;
        margin-left: 0em;
        text-align: center;
        padding-bottom: 2em;
    }

    /*--- Habulidades -----*/

    .container-Skills {
        padding-top: 5em;
    }
    
    .p-lista {
        text-align: left;
        width: 100%;
        font-size: 1.1em;
        margin-left: 0em;
        
    }
    
    .icon-lista {
        font-size: 1.2em;
        
    }
    
    
    
    .img-Skills {
        padding-top: 1em;
    }

    /*----- Projetos ---*/

    .linguagens {
        display: none;
        
    }

    .btn-custom {
        padding: 0.5em 3em;
        border-radius: 2%;
        
    }

    .Projetos-img{
        width: 100%;
        margin-right: 0em;
        margin-right: 0px;
    }

    }

@media (min-width: 360px) and (max-width: 381.98px) {

    /*- Menu Navegação --*/
    .navbar-brand {
        margin-left: 1em;
    }

    .navbar-toggler {
        margin-right:  1em;
    }


    .nav-link {
        text-align: center;
        text-transform: uppercase;
        
        
    }

    .navbar-nav {
        padding-bottom: 20px;
    }


    .btn-cadastrar {
        font-size: 0.7em;
        
    }
     /*---Capa ---*/



    .alinhando-pc {
        text-align: center;

    }

    h3 {
        font-size: 0.9em;
    }

    .btn-cv {
        font-size: 0.9em;
    }

    .img-pc {
        margin-top: 0em;
        padding-bottom: 0em;
    }
    
    
    h1 {
       
        padding-left: 0.5em;
        font-size: 2.5em;
    }
    
    .mask {
        padding-top: 2em;
        height: 160px;
        margin-bottom: 1em;
       
    }
    
    .mask span {
        top: 40px;
        font-size: 27px;
        width: 150%;
        text-align: left;
    }


     /*----- Apresentação -----*/

    .titulo {
        font-weight: 700;
        font-size: 2.2em;  
    }

    .img-perfil {
        max-width: 700px;
        right: 55%;
        
    }

    .p-perfil {
        width: 100%;
        font-size: 1.1em;
        font-weight: 100;
        margin-left: 0em;
        text-align: center;
        padding-bottom: 2em;
    }

    /*--- Habulidades -----*/

    .container-Skills {
        padding-top: 5em;
        padding-left: 1em;
    }
    
    .p-lista {
        text-align: left;
        width: 100%;
        font-size: 1.1em;
        margin-left: 0em;
        
    }
    
    .icon-lista {
        font-size: 1.5em;
        
    }
    
    
    
    .img-Skills {
        padding-top: 1em;
    }

    /*----- Projetos ---*/

    .linguagens {
        display: none;  
    }

}

@media (min-width: 382px) and (max-width: 429.98px) {

    /*- Menu Navegação --*/
    .navbar-brand {
        margin-left: 1em;
    }

    .navbar-toggler {
        margin-right:  1em;
    }


    .nav-link {
        text-align: center;
        text-transform: uppercase;
        
        
    }

    .navbar-nav {
        padding-bottom: 20px;
    }


    .btn-cadastrar {
        font-size: 0.7em;
        
    }

    .form-inline {
        margin-left: 5em;
    }

     /*---Capa ---*/

    .alinhando-pc {
        text-align: center;

    }

    h3 {
        font-size: 0.9em;
    }

    .btn-cv {
        font-size: 0.9em;
    }

    .img-pc {
        margin-top: 0em;
        padding-bottom: 0em;
    }
    
    
    h1 {
       
        padding-left: 0.5em;
        font-size: 2.5em;
    }
    
    .mask {
        padding-top: 2em;
        height: 160px;
        margin-bottom: 1em;
       
    }
    
    .mask span {
        top: 40px;
        font-size: 27px;
        width: 150%;
        text-align: left;
    }

  
     /*----- Apresentação -----*/

     .titulo {
        font-weight: 700;
        font-size: 2.2em;  
    }

    .img-perfil {
        max-width: 700px;
        right: 50%;
        
    }

    .p-perfil {
        width: 100%;
        font-size: 1.1em;
        font-weight: 100;
        margin-left: 0em;
        text-align: center;
        padding-bottom: 2em;
    }

    /*--- Habulidades -----*/

    .container-Skills {
        padding-top: 5em;
        padding-left: 1em;
    }
    
    .p-lista {
        text-align: left;
        width: 100%;
        font-size: 1.1em;
        margin-left: 0em;
        
    }
    
    .icon-lista {
        font-size: 1.5em;
        
    }
    
    
    
    .img-Skills {
        padding-top: 1em;
    }

    /*---- Projetos ---*/

    .linguagens {
        display: none;  
    }

      
}

@media (min-width: 430px) and (max-width: 499.98px) {
    /*- Menu Navegação --*/
    

    .navbar-brand {
        margin-left: 1em;
    }

    .navbar-toggler {
        margin-right:  1em;
    }


    .nav-link {
        text-align: center;
        text-transform: uppercase;
        
        
    }

    .navbar-nav {
        padding-bottom: 20px;
    }


    .btn-cadastrar {
        font-size: 0.7em;
        
    }

    .form-inline {
        margin-left: 7em;
        text-align: center;
    }

    /*---Capa ---*/

  

    .alinhando-pc {
        text-align: center;

    }

    h3 {
        font-size: 1em;
    }

    .btn-cv {
        font-size: 1em;
    }

    .img-pc {
        margin-top: 0em;
        padding-bottom: 0em;
    }
    
    
    h1 {
      
        padding-left: 0.5em;
        font-size: 3em;
    }
    
    .mask {
        padding-top: 2em;
        height: 180px;
        margin-bottom: 1em;
       
    }
    
    .mask span {
        top: 40px;
        font-size: 32px;
        width: 150%;
        text-align: left;
    }

  
     /*----- Apresentação -----*/

     .titulo {
        font-weight: 700;
        font-size: 2.2em;  
    }

    .img-perfil {
        max-width: 700px;
        right: 40%;
        
    }

    .p-perfil {
        width: 100%;
        font-size: 1.1em;
        font-weight: 100;
        margin-left: 0em;
        text-align: center;
        padding-bottom: 2em;
    }

    /*--- Habulidades -----*/
    
    #Skills {
        padding-left: 2em;
    }


    .container-Skills {
        padding-top: 5em;
        padding-left: 0em;
    }
    
    .p-lista {
        text-align: left;
        width: 100%;
        font-size: 1.1em;
        margin-left: 0em;
        
    }
    
    .icon-lista {
        font-size: 1.5em;
        padding-left: 0em;
        
        
    }
    
    
    
    .img-Skills {
        padding-top: 1em;
    }

      /*---- Projetos ---*/

      .linguagens {
        display: none;  
    }
}

@media (min-width: 500px) and (max-width: 767.98px) {

    /*- Menu Navegação --*/
      
    .navbar-brand {
        margin-left: 1em;
    }

    .navbar-toggler {
        margin-right:  1em;
    }


    .nav-link {
        text-align: center;
        text-transform: uppercase;
        
        
    }

    .navbar-nav {
        padding-bottom: 20px;
    }


    .btn-cadastrar {
        font-size: 0.7em;
        
    }

    .form-inline {
        margin-left: 9em;
        
    }

     /*---Capa ---*/



    .alinhando-pc {
        text-align: center;
    }

    h3 {
        font-size: 1em;
    }

    .btn-cv {
        font-size: 1em;
    }

    .img-pc {
        margin-top: 0em;
        padding-bottom: 0em;
        width: 100%;
    }
    
    
    h1 {
        padding-left: 0.5em;
        font-size: 3.1em;
    }
    
    .mask {
        padding-top: 2em;
        height: 180px;
        margin-bottom: 1em;
       
    }
    
    .mask span {
        top: 40px;
        font-size: 30px;
        width: 150%;
        text-align: left;
    }

    /*----- Apresentação -----*/

    .titulo {
        font-weight: 700;
        font-size: 2.2em;  
    }

    .img-perfil {
        max-width: 700px;
        right: 25%;
        
    }

    .p-perfil {
        width: 100%;
        font-size: 1.3em;
        font-weight: 100;
        margin-left: 0em;
        text-align: center;
        padding-bottom: 2em;
    }

     /*--- Habulidades -----*/

     .container-Skills {
        padding-top: 5em;
        padding-left: 0em;
    }
    
    .p-lista {
        text-align: left;
        width: 100%;
        font-size: 1.1em;
        margin-left: 0em;
        
    }

    #Skills {
        padding-left: 2.6em;
    }
    
    .icon-lista {
        font-size: 2em;
        padding-left: 0em;
        
    }
    
    
    
    .img-Skills {
        padding-top: 1em;
    }

      /*---- Projetos ---*/

      .linguagens {
        display: none;  
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {

    

   .alinhando-pc {
         display: none;
   }



   h3 {
       font-size: 0.8em;
   }

   .btn-cv {
       font-size: 0.9em;
   }

   .img-pc {
       margin: 0px;
       padding-bottom: 0em;
       padding-top: 7em;
   }
   
   
   h1 {
       padding-left: 1.5em;
       text-align: left;
       width:  100%;
       font-size: 2.7em;
   }
   
   .mask {
       padding-top: 0em;
       height: 142px;
       margin-bottom: 1em;
      
   }
   
   .mask span {
       top: 40px;
       font-size: 30px;
       width: 150%;
       text-align: left;
   }


    /*----- Apresentação -----*/

    .titulo {
        font-weight: 700;
        font-size: 2.2em;  
    }

    .img-perfil {
        max-width: 700px;
        right: 50%;
        
    }

    .p-perfil {
        width: 80%;
        font-size: 1.1em;
        font-weight: 100;
        margin-left: 0em;
        padding-bottom: 0em;
    }

       /*--- Habulidades -----*/

       .container-Skills {
        padding-top: 5em;
        padding-left: 0em;
    }
    
    .p-lista {
        text-align: left;
        width: 77%;
        font-size: 1.1em;
        margin-left: 4em;
        
    }
    
    .icon-lista {
        font-size: 2em;
       
        
    }
    
    
    
    .img-Skills {
        padding-top: 5em;
    }

   /*---- Projetos ---*/


    .estilo-bloco {
        margin-bottom: 5em; 
    }

    .titulo-card {
        margin: 0em 0.6em;
        font-size: 0.9em;
        
    }


    .estilo-bloco h2 {
        font-size: 1.2em;
        padding-top: 1em;
        padding-bottom: 2em;
    }

    .container-tec{
        padding-top: 0em;
    }

    .sub-titulo {
        display: none;
    }

    .estilo-bloco h3 { 
        font-size: 0.7em; 
    }

    .btn-custom {
        padding: 0.2em 0.6em;
        border-radius: 3px;
        
    }

    .linguagens {
            display: none;  
    }
    
}

@media (min-width: 992px) and (max-width: 1199.98px) {

    

    /*------Capa ------*/

    .alinhando-pc {
        display: none;
  }


  h3 {
      font-size: 0.8em;
  }

  .btn-cv {
      font-size: 0.9em;
  }

  .img-pc {
      margin: 0px;
      padding-bottom: 0em;
      padding-top: 9em;
  }
  
  
  h1 {
      padding-left: 1.5em;
      text-align: left;
      width:  100%;
      font-size: 4em;
  }
  
  .mask {
      padding-top: 0em;
      height: 190px;
      margin-bottom: 5em;
     
  }
  
  .mask span {
      top: 50px;
      font-size: 40px;
      width: 150%;
      text-align: left;
  }

   /*----- Apresentação -----*/

    .titulo {
        font-weight: 700;
        font-size: 2.2em;  
    }

    .img-perfil {
        max-width: 700px;
        right: 10%;
        
    }

    .p-perfil {
        width: 80%;
        font-size: 1.2em;
        font-weight: 100;
        margin-left: 0em;
        padding-bottom: 0em;
    }

     /*--- Habulidades -----*/

     .container-Skills {
        padding-top: 5em;
        padding-left: 0em;
    }
    
    .p-lista {
        text-align: left;
        width: 77%;
        font-size: 1.1em;
        margin-left: 4em;
        
    }
    
    .icon-lista {
        font-size: 2em;
        
        
    }
    
    
    
    .img-Skills {
        padding-top: 5em;
    }

     /*---- Projetos ---*/
 
    .estilo-bloco h3 { 
        font-size: 0.7em; 
    }

    .btn-custom {
        padding: 0.2em 0.6em;
        border-radius: 3px;
        
    }

    .container-tec {
        margin: 0px;
        padding: 10px 30px;
    }

   
 
}

@media (min-width: 1200px) and (max-width: 1399px)  {

    

    /*------Capa ------*/

    .alinhando-pc {
        display: none;
  }



  h3 {
      font-size: 0.8em;
  }

  .btn-cv {
      font-size: 0.9em;
  }

  .img-pc {
      margin: 0px;
      padding-bottom: 0em;
      padding-top: 8em;
  }
  
  
  h1 {
      padding-left: 1.5em;
      text-align: left;
      width:  100%;
      font-size: 4em;
  }
  
  .mask {
      padding-top: 0em;
      height: 200px;
      margin-bottom: 10em;
     
  }
  
  .mask span {
      top: 59px;
      font-size: 45px;
      width: 150%;
      text-align: left;
  }

    /*---- Projetos ---*/
 
    .btn-custom {
        padding: 0.5em 3.5em;
        border-radius: 3px;
        
    }

    .alinhamento-pc {
        display: block;
    }


   
}

@media (min-width: 1399px) {

    .alinhando-pc {
        display: none;
    }
}

   
 
