@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

.container-sobre {
 padding-right: 15em;
  
  
}

.container-card {
  max-width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 35px;
  margin: 0 auto;
  padding: 40px 0;

}
.card-p {
    position: relative;
    width: 300px;
    height: 380px;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(25px) saturate(90%);
    -webkit-backdrop-filter: blur(25px) saturate(90%);
    
    
  }
  .face {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .face.back {
    box-sizing: border-box;
    padding: 20px;
  }
  .face.back h2 {
    font-family: "Righteous", cursive;
    margin: 0;
    padding: 0;
  }
  .face.back .desc {
    background-color: #eee;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .face.front {
    transition: 0.5s;
  }
  .face.front h2 {
    font-family: "Righteous", cursive;
    margin: 0;
    padding: 0;
    font-size: 5em;
    color: #fff;
    transition: 0.5s;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
  }
  .card-p:hover .face.front {
    height: 60px;
  }
  .card-p:hover .face.front h2 {
    font-size: 2em;
  }
  .face.front {
    background-color: #886FBF; /* #0cbaba; */
    background-image: linear-gradient(315deg, #6136bf 0%, #170d2b 74%);
    border-radius: 15px;
  }

  @media (min-width: 280px) and (max-width: 219.98px) {


   
   .face.front h2 {
     font-size: 4em;
   }


   .card-p {
    
     width:  85%;
     height: 380px;
     margin-left: 0px;
     
    
  }

  }

  @media (min-width: 345px) and (max-width: 767.98px) {
    

    .container-sobre {
      padding-right: 0em;
       
       
     }
    
    .container-card {
      padding: 40px 0px 40px 0px;
    }
 
   

  }