:root {
    --cor-principal: #6136BF;
    --cor-secundaria: #886FBF;
    --cor-conteudo: #3A2073;
    --cor-roxo-claro: #62508A;
    --cor-h2: #721D80;
    --cor-escura: #201240;
    --cor-escura2:#1A0E33;
    --cor-escura3:#1D2026;
    --cor-cinza-claro:#BABCBF;
    --cor-cinza-medio:#87898C;
    --cor-cinza-escuro:#303740;
    --cor-claro: #D0D7D9;
    --cor-claro2: #C7CFD9;
    --cor-claro3: #D5E5F2;
}
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

/*--- font-family: 'Libre Baskerville', serif; -----*/

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

/*-----font-family: 'Libre Baskerville', serif;-----*/



/*----- font-family: 'Tiro Tamil', serif;------*/

body {
    margin: 0px;
    padding: 0px;
}

* {
    margin: 0px;
    padding: 0px;
    color: white;
}

a {
    text-decoration: none;
    color: #fff;

}


html, body, #home {
    height: 100%;
    overflow-x: hidden;
}




body {
    background: url(../img/ruido.png),
                linear-gradient(100deg, #000000, #6136BF);
                    
    background-attachment: fixed;
    font-family: helvetica,Arial,sans-serif;
                               
}



/* Barra de navegação 
------------------------*/

.logo {
   color: var(--cor-secundaria);
   font-size: 1.5em;
   margin-left: 0.9em;
   position: absolute;
   bottom: 1.5em;
}


.logo-name {
    font-size: 0.8em;
    font-weight: 700;
    letter-spacing: -.05em;
    color: rgba(255, 255, 255, 0.76);
    text-shadow: #fff 0 0, var(--cor-principal) 0 0;
    transition: text-shadow 200ms;
    position: absolute;
    bottom: 1.5em;
    
}

.logo-name:hover {
    text-shadow:  var(--cor-principal) 6px 0;

}

.logo-portfolio {
    font-size: 0.6em;
    font-weight: 200;
    margin-left: 1em;
    letter-spacing: 0.2em;
    color: var(--cor-principal);
    position: absolute;
    bottom: 0.5em;
    
    
}

nav.navbar-transparente {
    padding: 15px 0px;
    background: rgba(0,0,0,0.6);
}

a {
    position: relative;
    color: #fff;
    text-decoration: none;  
  }
  
  .nav-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--cor-principal);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .nav-link:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    
  }

.navbar-light .navbar-nav .nav-link {
    color: white;
    
   
}

.navbar-light .navbar-nav .nav-link:hover {
    color: white;
   
}



.navbar-light .navbar-toggler {
    color: rgba(255,255,255,0.5);
    border-color: rgba(255,255,255,0.5);
        
    
}


.icon-color {
   color: var( --cor-secundaria);
   padding-right: 1em;
   font-size: 1.2em;
}



.btn-login { 
    text-transform: uppercase;
    color: #fff;
    background: none;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    margin-top: 0px;
    margin-left: 3em;
    margin-right: 1em;
    border:none;

}

.btn-login:hover {
    border: none;
    text-transform: uppercase;
    color: #fff;
    
}



.btn-cadastrar {
    text-transform: uppercase;
    border: 1px solid var(--cor-secundaria);
    border-radius: 5px;
    color: #fff;
    background: none;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    padding: 1em;
    text-align: center;
    
       
}

.btn-cadastrar:hover {
    border: 1px solid var(--cor-secundaria);
    color: #fff;
    background: var(--cor-secundaria);

}

/*------ capa -------*/
.texto-capa {
    width: 70%;
    margin-left: 5em;
    margin-bottom: 10em;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 3em;
    line-height: 1.2em;
    
}

h2 {
    font-family: 'Libre Baskerville', serif;
    color: var(--cor-h2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.89);
}

h3 {
    font-size: 0.9em;
    color: var(--cor-claro3);
}

.M {

    background-image: url(../img/codego.png);
    background-clip:text;
    -webkit-background-clip:text;
    color: transparent;
    font-size: 1.6em;
    font-family: 'Black Ops One', cursive;
}

.btn-cv {
    color: #fff;
    background-color: var(--cor-conteudo);
}

.btn-cv:hover {
    border: 1px solid var(--cor-secundaria);
    color: #fff;
    background: var(--cor-secundaria);
    
    
}
/* Apresentação --*/

#apresentacao {
    background-color: #131313;
}

/*---Imagem Perfilamento ---*/

.img-perfil {
    padding: 50px;
}

.img-wrapper {
    max-width: 500px;
    position: relative;
}

.img-wrapper img {
    width: 100%;
    display: block;
    border-radius: 50%;
}

.img-wrapper::before{
    content: '';
    position: absolute;
    inset: 15px;
    border: 6px solid #131313;
    border-top-color: var(--cor-principal);
    border-bottom-color: var(--cor-secundaria);
    border-radius: 50%;
   /* z-index:-1; */
    animation:spin 3s linear infinite;
}

@keyframes spin {
    to{ transform:rotate(360deg);}
}

/*--- Texto ---*/

.p-perfil {
    color: white;
    font-size: 1.5em;
    font-weight: 100;
}

.texto-perfil {
    color: var(--cor-secundaria);
}

.linguagens {
    color: var(--cor-claro3);
}

.img-linguagens {
    width: 3em;
    padding: 0.4em;
}

.container-linguagens {
    margin-left: 10em;
}


@media (min-width: 280px) and (max-width: 319.98px) {

    /*- Menu Navegação --*/
    .navbar-brand {
        margin-left: 1em;
    }

    .navbar-toggler {
        margin-right:  1em;
    }


    .nav-link {
        text-align: center;
        text-transform: uppercase;
        
        
    }

    .navbar-nav {
        padding-bottom: 20px;
    }


    .btn-cadastrar {
        font-size: 0.7em;
        
    }

    .form-inline {
        margin-left: 1em;
    }

    /*------Capa ------*/

    .texto-capa {
        width: 100%;
        margin-left: 0em;
        margin-top: 2em;
        margin-bottom: 3em;
    }
    
    h1 {
      
        font-size: 2.2em;
        line-height: 1.5em;
        text-align: center;
        
    }
    
    h2 {
      
        font-size: 1.5em;
        text-align: center;
    }
    
    h3 {
        font-size: 0.7em;
      
        text-align: center;
    }
    
    .M {
       
        font-size: 1.4em;
      
    }

    .btn-cv {
        margin-left: 5em;
        margin-top: 1em;
    }

 /*----- Apresentação -----*/

}

@media (min-width: 320px) and (max-width: 359.98px) {

    /*- Menu Navegação --*/
    .navbar-brand {
        margin-left: 1em;
    }

    .navbar-toggler {
        margin-right:  1em;
    }


    .nav-link {
        text-align: center;
        text-transform: uppercase;
        
        
    }

    .navbar-nav {
        padding-bottom: 20px;
    }


    .btn-cadastrar {
        font-size: 0.7em;
        
    }

    .form-inline {
        margin-left: 3em;
    }

     /*------Capa ------*/

     .texto-capa {
        width: 100%;
        margin-left: 0em;
        margin-top: 2em;
        margin-bottom: 0.5em;
    }
    
    h1 {
       
        font-size: 2.2em;
        line-height: 1.5em;
        text-align: center;
        
    }
    
    h2 {
      
        font-size: 1.5em;
        text-align: center;
    }
    
    h3 {
        font-size: 0.7em;
      
        text-align: center;
    }
    
    .M {
      
        font-size: 1.4em;
      
    }

    .btn-cv {
        margin-left: 6em;
        margin-top: 1em;
    }
}

@media (min-width: 360px) and (max-width: 381.98px) {

    /*- Menu Navegação --*/
    .navbar-brand {
        margin-left: 1em;
    }

    .navbar-toggler {
        margin-right:  1em;
    }


    .nav-link {
        text-align: center;
        text-transform: uppercase;
        
        
    }

    .navbar-nav {
        padding-bottom: 20px;
    }


    .btn-cadastrar {
        font-size: 0.7em;
        
    }

    .form-inline {
        margin-left: 5em;
    }

      /*------Capa ------*/

      .texto-capa {
        width: 100%;
        margin-left: 0em;
        margin-top: 0em;
        margin-bottom: 3em;
    }

    
    h1 {
      
        font-size: 2.2em;
        line-height: 1.5em;
        text-align: center;
        
    }
    
    h2 {
      
        font-size: 1.5em;
        text-align: center;
    }
    
    h3 {
        font-size: 0.7em;
      
        text-align: center;
    }
    
    .M {
       
        font-size: 1.4em;
     
    }

    .btn-cv {
        margin-left: 7em;
        margin-top: 1em;
    }
}

@media (min-width: 382px) and (max-width: 429.98px) {

    /*- Menu Navegação --*/
    .navbar-brand {
        margin-left: 1em;
    }

    .navbar-toggler {
        margin-right:  1em;
    }


    .nav-link {
        text-align: center;
        text-transform: uppercase;
        
        
    }

    .navbar-nav {
        padding-bottom: 20px;
    }


    .btn-cadastrar {
        font-size: 0.7em;
        
    }

    .form-inline {
        margin-left: 5em;
    }

    /*------Capa ------*/

    .texto-capa {
        width: 100%;
        margin-left: 0em;
        margin-top: 0em;
        margin-bottom: 3em;
    }

    
    h1 {
        font-size: 2.2em;
        line-height: 1.5em;
        text-align: center;
        
    }
    
    h2 {
       
        font-size: 1.5em;
        text-align: center;
    }
    
    h3 {
        font-size: 0.7em;
        text-align: center;
    }
    
    .M {
       
        font-size: 1.4em;
        
    }

    .btn-cv {
        margin-left: 9em;
        margin-top: 1em;
    }

      
}

@media (min-width: 430px) and (max-width: 499.98px) {

    /*- Menu Navegação --*/
    

    .navbar-brand {
        margin-left: 1em;
    }

    .navbar-toggler {
        margin-right:  1em;
    }


    .nav-link {
        text-align: center;
        text-transform: uppercase;
        
        
    }

    .navbar-nav {
        padding-bottom: 20px;
    }


    .btn-cadastrar {
        font-size: 0.7em;
        
    }

    .form-inline {
        margin-left: 7em;
        text-align: center;
    }

     /*------Capa ------*/

     .texto-capa {
        width: 100%;
        margin-left: 0em;
        margin-top: 0em;
        margin-bottom: 3em;
    }

    
    h1 {
       
        font-size: 3em;
        line-height: 1.5em;
        text-align: center;
        
    }
    
    h2 {
       
        font-size: 2em;
        text-align: center;
    }
    
    h3 {
        font-size: 0.9em;
        text-align: center;
    }
    
    .M {
        font-size: 1.4em;  
    }

    .btn-cv {
        margin-left: 10em;
        margin-top: 1em;
    }
}

@media (min-width: 500px) and (max-width: 767.98px) {

    /*- Menu Navegação --*/
      
    .navbar-brand {
        margin-left: 1em;
    }

    .navbar-toggler {
        margin-right:  1em;
    }


    .nav-link {
        text-align: center;
        text-transform: uppercase;
        
        
    }

    .navbar-nav {
        padding-bottom: 20px;
    }


    .btn-cadastrar {
        font-size: 0.7em;
        
    }

    .form-inline {
        margin-left: 9em;
        
    }

     /*------Capa ------*/

     .texto-capa {
        width: 100%;
        margin-left: 0em;
        margin-top: 0em;
        margin-bottom: 3em;
    }

    
    h1 {
        font-size: 3em;
        line-height: 1.5em;
        text-align: center;
        
    }
    
    h2 {
        font-size: 2em;
        text-align: center;
    }
    
    h3 {
        font-size: 0.9em; 
        text-align: center;
    }
    
    .M {
        font-size: 1.4em;   
    }

    .btn-cv {
        margin-left: 14em;
        margin-top: 1em;
    }

    /*------------*/
}

@media (min-width: 768px) and (max-width: 991.98px) {

    

     /*------Capa ------*/

       .texto-capa {
        width: 60%;
        margin-left: 5em;
        margin-top: 0em;
        margin-bottom: 3em;
    }

    
    h1 {
       font-family: 'Libre Baskerville', serif;
       font-size: 1.6em;
       line-height: 1.5em;
          
    }
    
    h2 {
        font-size: 1.6em;
    }
    
    h3 {
        font-size: 0.7em;
    }

    .btn-cv {
        font-size: 0.7em;
    }
    
 
    
  
}

@media (min-width: 992px) and (max-width: 1199.98px) {

    

    /*------Capa ------*/

      .texto-capa {
       width: 100%;
       margin-left: 5em;
       margin-top: 0em;
       margin-bottom: 8em;
   }

   
   h1 {
     
      font-size: 2.7em;
      line-height: 1.5em;
         
   }
   
   h2 {
       font-size: 2em;
   }
   
   h3 {
       font-size: 1em;
   }

   .btn-cv {
       font-size: 1em;
   }
   

   
 
}

@media (min-width: 1200px) and (max-width: 1399px)  {

    

    /*------Capa ------*/

      .texto-capa {
       width: 100%;
       margin-left: 5em;
       margin-top: 0em;
       margin-bottom: 10em;
   }

   
   h1 {
     
      font-size: 3em;
      line-height: 1.5em;
         
   }
   
   h2 {
       font-size: 2em;
   }
   
   h3 {
       font-size: 1em;
   }

   .btn-cv {
       font-size: 1em;
   }
   
}

   
 
